{% extends "base.html" %}

{% block title %}Главная - Flask App{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="jumbotron bg-light p-5 rounded mb-4">
            <h1 class="display-4">Добро пожаловать!</h1>
            <p class="lead">Это главная страница Flask-приложения с использованием Bootstrap и Jinja2.</p>
            <hr class="my-4">
            <p>Используйте навигационное меню для перехода между страницами.</p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('about') }}" role="button">Узнать больше</a>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Flask</h5>
                <p class="card-text">Легковесный веб-фреймворк для Python, который позволяет быстро создавать веб-приложения.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Bootstrap</h5>
                <p class="card-text">Популярный CSS-фреймворк для создания адаптивных и современных веб-интерфейсов.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Jinja2</h5>
                <p class="card-text">Мощный шаблонизатор для Python, который позволяет создавать динамические HTML-страницы.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

